/* Screen size 1140px and above */
h1{
    padding-left:42px;
}
h4{
    text-align:left;
}
#locationSearch {
    border-style: none none solid none;
}
.block .col-sm{
    border: solid 1px;
    border-radius:20px;
}
.block .col-sm div {
    border-width: 1px;
    border-style: none none solid none;
    margin: 10px auto;
}
.block .col-sm div span {
    float: right;
}
/* Screen breakpoints 540px 720px 960px 1140px */
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 720px) {}
@media only screen and (max-width: 540px) {
    body{
        font-size:10pt;
    }
}