main form div div{
    margin: 10px auto;
}
#eventName{
    border-style: none none solid none;
    float:right;
    margin-right:15%;
}
#startTime,#endTime{
    float:right;
    margin-right: 15%;
}
#eventDate,#scheduleLocation,#button{
    border-style: none none none none;
    float:right;
    margin-right:15%;
}
/* Screen breakpoints 540px 720px 960px 1140px */
@media only screen and (max-width: 1200x) {}
@media only screen and (max-width: 992px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 576px) {
    form{
        border-width:2px;
        border-radius: 20px;
        border-style: ridge;
        box-shadow: 3px 6px grey;
        margin: 30px auto;
    }
}