/* Global styling for all pages */
h1{
    text-align:center;
}
h2{
    text-align: center;
}
/* Styling for the header */
header nav a img{
    max-width: 250px;
}
header nav div ul{
    font-size: 25pt;
}
header button{
    border:none;
    float:right;
}
header button img{
    max-width: 30px;
    background-color: black;
    border-radius: 20px;
    margin: 0px;
}

body{
    color:black;
}

/* Screen breakpoints 540px 720px 960px 1140px */
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 720px) {}
@media only screen and (max-width: 540px) {}